<footer>
  <div id="footer" class="footer">
    <div class="row">
      <div class="col-xs-12 col-md-6"><ul>
        <li>Home</li>
        <li>Joboffers</li>
        <li>Extra content</li>
        <li>Webshop info</li>
      </ul></div>
      <div class="col-xs-12 col-md-6">  <ul class="social_links">
    <li>
      <%= link_to "http://facebook.com", class: "social_links2" do %>
      <%= content_tag(:i, "", class: "fa fa-facebook-square fa-3x") %>
      <% end %> </li>

       <li><%= link_to "http://linkedin.com", class: "social_links2" do %>
      <%= content_tag(:i, "", class: "fa fa-linkedin fa-3x") %>
      <% end %> </li>

      <li><%= link_to "http://github.com", class: "social_links2" do %>
      <%= content_tag(:i, "", class: "fa fa-github fa-3x") %>
      <% end %> </li>
    </ul>
  </div></div>
    </div>


</footer>
