 <nav class="nav">
      <div class="navbar">
        <ul id="navbar-links">
          <li><%= link_to "DimmaaaH", home_index_path, class: "navbar_links" %></li>
          <li><%= link_to "Curriculum", home_curriculum_path, class: "navbar_links" %></li>
          <li><%= link_to "Projects", project_index_path, class: "navbar_links" %></li>
          <li><%= link_to "Blog", home_index_path, class: "navbar_links" %></li>
          <li><%= link_to "Contact", home_index_path, class: "navbar_links" %></li>

        </ul>

        <ul>
          <li><%= link_to_unless_current "English", locale: "en" %></li>
          <li><%= link_to_unless_current "Nederlands", locale: "nl" %></li>
        </ul>
      </div>
      </nav>
