<nav id="nav_bar">
  <div class="navbar">
    <ul id="navbar-links">
      <li><%= link_to "DimmaaaH", home_index_path, class: "navbar_links" %></li>
      <li><%= link_to "Curriculum", home_curriculum_path, class: "navbar_links" %></li>
      <li><%= link_to "Projects", project_index_path, class: "navbar_links" %></li>
      <li><%= link_to "Contact", home_index_path, class: "navbar_links" %></li>
    
      <li class="pull-right"><%= link_to_unless_current image_tag("uk.png"), locale: "en" %></li>
      <li class="pull-right"><%= link_to_unless_current image_tag("nl.png"), locale: "nl" %></li>  
    </ul>
  </div>
</nav>
